body {
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #555;
  outline: none;
}

.container-wrapper {
  max-width: 1280px;
  padding: 15px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: flex-end;
  column-gap: 8px;
  font-weight: 600;
  color: #000;
}

.nav__link {
  color: #222;
  position: relative;
}
.nav__link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  height: 2px;
  width: 0;
  background-color: #000;
  transition: 0.5s;
}
.nav__link:hover::after {
  left: 0;
  transform: translate-x(-50%);
  width: 100%;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__panel {
  display: flex;
  column-gap: 60px;
  align-items: center;
}
.header__nav {
  display: flex;
  column-gap: 40px;
}
.header__menu {
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.header__button {
  width: 18px;
  height: 2px;
  background-color: #000;
  position: relative;
  border-radius: 5px;
  transition: 0.5s;
}
.header__button::before, .header__button::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 1.5px;
  background-color: #000;
  bottom: 5px;
  border-radius: 5px;
}
.header__button::after {
  top: 5px;
}
.header__sign-in {
  background-color: transparent;
  border: 1px solid #999;
  padding: 10px 22px;
  border-radius: 35px;
  cursor: pointer;
  white-space: nowrap;
}

.button__wrapper {
  padding: 8px 0;
  cursor: pointer;
  z-index: 2;
}
.button__wrapper:hover .header__button::before, .button__wrapper:hover .header__button::after {
  right: -5px;
}

.main {
  margin-top: 70px;
}

.find-hotel__top-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.find-hotel__content {
  max-width: 650px;
}
.find-hotel__title {
  color: #000;
  margin: 0 0 30px 0;
  font-size: 60px;
  line-height: 80px;
}
.find-hotel__text {
  font-size: 20px;
  line-height: 32px;
  max-width: 475px;
  margin: 0;
}
.find-hotel__search {
  padding: 50px 20px;
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.1);
}
.find-hotel__input {
  height: 56px;
  border: none;
  border-radius: 8px;
  padding: 0px 0 0px 54px;
  background: #FAFAFA;
  background-repeat: no-repeat;
  background-position: 20px 16px;
}

.search {
  max-width: 500px;
}
.search__top-line, .search__bottom-line {
  display: flex;
  position: relative;
}
.search__top-line {
  justify-content: space-between;
  margin-bottom: 40px;
}

#date {
  background-image: url("../icons/calendar.svg");
}

#guests {
  background-image: url("../icons/person.svg");
}

#geolocation {
  background-image: url("../icons/pin.svg");
}

#date, #guests {
  width: 164px;
}

#geolocation {
  width: 406px;
}

#submit {
  position: absolute;
  width: 56px;
  height: 56px;
  right: 0;
  background-color: #3771C8;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.gallery {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 16px;
}
.gallery__image {
  border-radius: 16px;
}
.gallery__image._main {
  grid-row-start: 1;
  grid-row-end: 3;
}

.h2-header {
  color: #000;
  font-size: 40px;
  line-height: 50px;
  margin: 0 0 16px 0;
}

.facilities {
  margin-top: 120px;
}
.facilities__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.facilities__text {
  max-width: 605px;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
}
.facilities__button {
  font-size: 16px;
  line-height: 28px;
  padding: 0 26px;
  background: none;
  border: none;
  cursor: pointer;
  align-self: center;
  position: relative;
  white-space: nowrap;
}
.facilities__button::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 6px;
  border: 1px solid #F9D15C;
  border-radius: 280px;
}
.facilities__button:hover::after {
  background-color: #F9D15C;
}
.facilities__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.facilities__item {
  max-width: 308px;
  padding: 37px 15px 49px;
  display: flex;
  flex: 1fr 1fr 25%;
  align-items: center;
  flex-flow: column wrap;
}
.facilities__img {
  margin-bottom: 42px;
}
.facilities__card-header {
  font-size: 20px;
  line-height: 28px;
  color: #222;
  margin: 0 0 12px 0;
}
.facilities__card-text {
  max-width: 278px;
  line-height: 28px;
  text-align: center;
  margin: 0;
}

.description {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
}
.description__img {
  border-radius: 16px;
}
.description__content {
  max-width: 586px;
}
.description__header {
  max-width: 420px;
  margin: 0 0 20px 0;
}
.description__text {
  font-size: 16px;
  line-height: 28px;
  margin: 0 0 40px 0;
}
.description__statistic {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  margin-bottom: 60px;
}
.description__item {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.description__digit {
  font-size: 30px;
  line-height: 46px;
  margin: 0 0 16px 0;
  color: #222;
}
.description__description {
  margin: 0;
}

.more {
  background-color: #3771C8;
  color: #fff;
  border: none;
  padding: 16px 32px;
  border-radius: 8px;
}

.companies {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.companies__logo {
  width: 150px;
  height: 100px;
}

.testimonial {
  display: flex;
}
.testimonial__img {
  border-radius: 12px 0 0 12px;
  width: 50%;
}
.testimonial__content {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F9D15C;
  border-radius: 0 12px 12px 0;
}
.testimonial__avatar {
  border-radius: 50%;
  margin-bottom: 8px;
}
.testimonial__name {
  margin-bottom: 23px;
  line-height: 32px;
}
.testimonial__text {
  max-width: 500px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  margin: 0 0 44px 0;
}

@media (max-width: 1299px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
  .gallery__image {
    border-radius: 16px;
    width: 100%;
  }
  .gallery__image._main {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-end: 2;
  }

  .facilities {
    margin-top: 60px;
  }
  .facilities__wrapper {
    margin-bottom: 20px;
  }
  .facilities__item {
    flex: 0 0 50%;
  }

  .description__content {
    text-align: center;
  }
  .description__header {
    margin-top: 10px;
    max-width: 100%;
    font-size: 26px;
    line-height: 36px;
  }
  .description__text {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 20px 0;
  }
  .description__statistic {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
  }
  .description__item {
    flex: 0 0 calc(50% - 10px);
  }
}
@media (max-width: 1024px) {
  .find-hotel__content {
    max-width: 450px;
  }
  .find-hotel__text {
    font-size: 16px;
    padding-right: 20px;
  }
  .find-hotel__title {
    font-size: 40px;
    line-height: 60px;
    padding-right: 20px;
  }

  .description {
    display: flex;
    flex-direction: column;
  }
  .description__content {
    align-self: center;
  }
  .description__header {
    margin-top: 20px;
    align-self: center;
  }
  .description__statistic {
    column-gap: 0;
    flex-wrap: nowrap;
  }
  .description__item {
    flex: 0 0 25%;
  }

  .companies {
    margin: 60px 0;
  }
  .companies__logo {
    width: 130px;
    height: 70px;
  }
}
@media (max-width: 968px) {
  .find-hotel__text {
    font-size: 16px;
    padding-right: 20px;
  }
  .find-hotel__title {
    font-size: 36px;
  }

  .facilities__text {
    max-width: 500px;
  }
  .facilities__cards {
    justify-content: center;
  }

  .description__header {
    margin: 10px 0 10px 0;
  }
  .description__text {
    margin: 0 0 10px 0;
  }
  .description__statistic {
    column-gap: 0;
    row-gap: 5px;
  }
}
@media (max-width: 820px) {
  .main {
    margin-top: 40px;
  }

  .find-hotel__top-line {
    flex-wrap: wrap;
    justify-content: center;
  }
  .find-hotel__content {
    max-width: 100%;
    text-align: center;
  }
  .find-hotel__title {
    line-height: 45px;
  }
  .find-hotel__title, .find-hotel__text {
    padding: 0;
    margin: 0 0 10px 0;
    max-width: 100%;
  }

  .search {
    max-width: 100%;
    width: 100%;
  }

  #date, #guests {
    width: 40%;
  }

  #geolocation {
    width: 100%;
  }

  .container-wrapper {
    padding: 5px 15px;
  }

  .nav__link::after {
    bottom: 1px;
  }

  .header__panel {
    column-gap: 40px;
  }
  .header__nav {
    column-gap: 20px;
    flex-flow: row wrap;
    line-height: 25px;
    justify-content: center;
  }

  .facilities__cards {
    row-gap: 25px;
  }
  .facilities__item {
    padding: 0;
  }

  .description {
    margin-top: 40px;
  }

  .companies {
    margin: 20px 0;
  }
  .companies__logo {
    width: 100px;
    height: 70px;
  }
}
@media (max-width: 630px) {
  .main {
    margin-top: 20px;
  }

  .header__nav {
    max-width: 300px;
  }

  .search__top-line {
    flex-wrap: wrap;
    margin: 0;
  }

  #date, #guests {
    width: 100%;
    margin-bottom: 20px;
  }

  .facilities__header {
    text-align: center;
  }
  .facilities__wrapper {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .facilities__text {
    margin-bottom: 20px;
  }
  .facilities__item {
    max-width: 50%;
  }
  .facilities__img {
    margin-bottom: 20px;
  }
  .facilities__card-text {
    max-width: 240px;
  }

  .companies {
    margin: 10px 0;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
  }
  .companies__logo {
    width: 80px;
    height: 50px;
  }
}
@media (max-width: 535px) {
  .header__nav {
    display: none;
  }

  .h2-header {
    font-size: 25px;
    margin: 0 0 8px 0;
    line-height: 30px;
  }
  .h2-header__wrapper {
    margin-bottom: 14px;
  }
  .h2-header__text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .h2-header__cards {
    row-gap: 15px;
  }
  .h2-header__card-header {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .h2-header__card-text {
    font-size: 14px;
    max-width: 180px;
  }

  .description__header {
    margin: 10px 0 10px 0;
  }
}
@media (max-width: 420px) {
  .facilities__item {
    padding: 5px;
    max-width: 100%;
    flex: 0 0 100%;
  }
  .facilities__img {
    margin-bottom: 0;
  }
  .facilities__card-text {
    max-width: 80%;
  }

  .description__statistic {
    flex-wrap: wrap;
  }
  .description__item {
    flex: 0 0 calc(50% - 10px);
  }
}
@media (max-width: 320px) {
  .main {
    margin-top: 10px;
  }

  .header__content {
    align-items: flex-end;
  }
  .header__sign-in {
    display: none;
  }

  .find-hotel__top-line {
    flex-wrap: wrap;
    justify-content: center;
  }
  .find-hotel__content {
    max-width: 100%;
    text-align: center;
  }
  .find-hotel__title {
    line-height: 40px;
    font-size: 30px;
  }
  .find-hotel__title, .find-hotel__text {
    margin: 0 0 5px 0;
  }
  .find-hotel__text {
    font-size: 14px;
    line-height: 24px;
  }
  .find-hotel__search {
    padding: 20px 10px;
  }

  .search__bottom-line {
    display: flex;
    flex-wrap: wrap;
  }

  #geolocation {
    width: 100%;
    margin-bottom: 20px;
  }

  #submit {
    width: 100%;
    position: relative;
  }
}

/*# sourceMappingURL=styles.css.map */
