doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="./styles/styles.css")
    link(rel="stylesheet" href="./styles/normalize.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300&display=swap" rel="stylesheet")
  body 
    header.header
      .container-wrapper
        .header__content
          a(href="#").header__logo.logo
            img(src="./images/logo.svg" alt="Icon: logo" srcset="")
            | Hotelo
          .header__panel
            nav.header__nav.nav
              a(href="#").nav__link Booking
              a(href="#").nav__link Facilities
              a(href="#").nav__link About Us
              a(href="#").nav__link Location
              a(href="#").nav__link Contact
            .header__menu
              .button__wrapper
                .header__button.button
              button.header__sign-in Sign in
    main.main 
      .container-wrapper
        section.find-hotel
          .find-hotel__top-line
            .find-hotel__content
              h1.find-hotel__title Find Your Best Hotel for Deals
              p.find-hotel__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            form(action="").find-hotel__search.search
              .search__top-line
                input(type="text" placeholder="Jun 10 - 14").find-hotel__input#date
                input(type="text" placeholder="2 Guests").find-hotel__input#guests
              .search__bottom-line
                input(type="text" placeholder="United States").find-hotel__input#geolocation
                button(type="submit").find-hotel__submit#submit
                  img(src="icons/search.svg" alt="")
          .find-hotel__bottom-line
            .find-hotel__gallery.gallery

              img(src="./images/australia-main.jpg" alt="Image: ").gallery__image._main

              img(src="./images/australia-aside1.jpg" alt="").gallery__image._aside

              img(src="./images/australia-aside2.jpg" alt="").gallery__image._aside