doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="./styles/styles.css")
    link(rel="stylesheet" href="./styles/normalize.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300&display=swap" rel="stylesheet")
  body 
    header.header
      .container-wrapper
        .header__content
          a(href="#").header__logo.logo
            img(src="./images/logo.svg" alt="Icon: logo" srcset="")
            | Hotelo
          .header__panel
            nav.header__nav.nav
              a(href="#").nav__link Booking
              a(href="#").nav__link Facilities
              a(href="#").nav__link About Us
              a(href="#").nav__link Location
              a(href="#").nav__link Contact
            .header__menu
              .button__wrapper
                .header__button.button
              button.header__sign-in Sign in
    main.main 
      .container-wrapper
        section.find-hotel
          .find-hotel__top-line
            .find-hotel__content
              h1.find-hotel__title Find Your Best Hotel for Deals
              p.find-hotel__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            form(action="").find-hotel__search.search
              .search__top-line
                input(type="text" placeholder="Jun 10 - 14").find-hotel__input#date
                input(type="text" placeholder="2 Guests").find-hotel__input#guests
              .search__bottom-line
                input(type="text" placeholder="United States").find-hotel__input#geolocation
                button(type="submit").find-hotel__submit#submit
                  img(src="icons/search.svg" alt="")
          .find-hotel__bottom-line
            .find-hotel__gallery.gallery

              img(src="./images/australia-main.jpg" alt="Image: ").gallery__image._main

              img(src="./images/australia-aside1.jpg" alt="").gallery__image._aside

              img(src="./images/australia-aside2.jpg" alt="").gallery__image._aside
        section.facilities 
          h2.h2-header.facilities__header Facilities & Service
          .facilities__wrapper
            p.facilities__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
            button(type="submit").facilities__button View All
          .facilities__cards
            .facilities__item
              img(src="icons/private-workspace.svg" alt="Icon: computer on the table witch lamp").facilities__img 
              h2.facilities__card-header Private Workspace
              p.facilities__card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            .facilities__item
              img(src="icons/parking.svg" alt="Icon: parking sign").facilities__img 
              h2.facilities__card-header Parking Area
              p.facilities__card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            .facilities__item
              img(src="icons/wifi.svg" alt="Icon: wifi sign").facilities__img 
              h2.facilities__card-header Free Wifi
              p.facilities__card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            .facilities__item
              img(src="icons/breakfast.svg" alt="Icon: a cup of something hot").facilities__img 
              h2.facilities__card-header Breakfast
              p.facilities__card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        section.description 
          img(src="./images/description.jpg" alt="Image: resort hotel zone with pool etc").description__img
          .description__content 
            h2.h2-header.description__header Finest Luxury Hotels & Resort
            p.description__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            .description__statistic
              .description__item
                h3.description__digit 120K+
                p.description__description Website User
              .description__item
                h3.description__digit 110K+
                p.description__description Happy Clients
              .description__item
                h3.description__digit 20K+
                p.description__description Active Hotels
              .description__item
                h3.description__digit 8Y+
                p.description__description Company Year
            button.more Explore More
        section.companies
          img(src="icons/hotels.svg" alt="Icon: hotels.com logo").companies__logo
          img(src="icons/hyatt.svg" alt="Icon: Hyatt logo").companies__logo
          img(src="icons/park.svg" alt="Icon: Park Hotels & Resort logo").companies__logo
          img(src="icons/cushman.svg" alt="Icon: Cuchman & Wakefield logo").companies__logo
          img(src="icons/hilton.svg" alt="Icon: Hilton logo").companies__logo
        section.testimonial
          img(src="images/woman.jpg").testimonial__img
          .testimonial__content 
            img(src="images/avatar.jpg").testimonial__avatar
            .testimonial__name Nazmul Nabeel
            p.testimonial__text “Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the ”
        section.best-hotel 
          h2.h2-header.best-hotel__header Best Quality Hotels
          p.best-hotel__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          .best-hotel__control 
            ul.best-hotel__choise-star.choise-star
              li.choise-star__item
                button.choise-star__button 1 Star
              li.choise-star__item
                button.choise-star__button 2 Star
              li.choise-star__item
                button.choise-star__button 3 Star
              li.choise-star__item
                button.c.hoise-star__button 4 Star
              li.choise-star__item
                button.choise-star__button 5 Star
            button(type="submit").facilities__button View All