doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="./styles/styles.css")
  body 
    header.header
      .container-wrapper
        .header__content
          a(href="#").logo.header__logo
            img(src="./images/logo.svg" alt="Icon: logo" srcset="")
            | Hotelo
          .header__panel
            nav.header__nav
              a(href="#").nav__link Booking
              a(href="#").nav__link Facilities
              a(href="#").nav__link About Us
              a(href="#").nav__link Location
              a(href="#").nav__link Contact
            .header__menu
              .header__button
              .header__sign-in Sign in
              

